In [1]:
import atoti

Welcome to atoti 0.5.0!

By using this community edition, you agree with the license available at https://www.atoti.io/eula.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [7]:

session = atoti.create_session()

Deleting existing "Unnamed" session to create the new one.

In [8]:
session.url

'http://localhost:39759'

In [17]:
classified_products_datastore = session.read_csv("/home/volkan/Desktop/PY/TRY/car_sales.csv")

In [10]:
classified_products_datastore.head()

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,...,ztype,zprice,zengine_,zhorsepo,zwheelba,zwidth,zlength,zcurb_wg,zfuel_ca,zmpg
0,Acura,Integra,16.919,16.360,Automobile,21.5,1.8,140,101.2,67.3,...,-0.592619,-.410458276899195,-1.207001,-0.810378,-0.822789,-1.115337,-1.112557,-1.172124,-1.222227,0.970527
1,Acura,TL,39.384,19.875,Automobile,28.4,3.2,225,108.1,70.3,...,-0.592619,.0703225717610769,0.133157,0.688731,0.080198,-0.246243,0.413677,0.220418,-0.193400,0.270037
2,Acura,CL,14.114,18.225,Automobile,N/A,3.2,225,106.9,70.6,...,-0.592619,N/A,0.133157,0.688731,-0.076843,-0.159334,0.346672,0.145875,-0.193400,0.503534
3,Acura,RL,8.588,29.725,Automobile,42,3.5,210,114.6,71.4,...,-0.592619,1.01794859230886,0.420333,0.424182,0.930839,0.072424,0.689144,0.748569,0.012366,-0.430452
4,Audi,A4,20.397,22.255,Automobile,23.99,1.8,150,102.6,68.2,...,-0.592619,-.236959101078314,-1.207001,-0.634013,-0.639574,-0.854609,-0.695634,-0.602736,-0.399165,0.737030

In [12]:
cube = session.create_cube(classified_products_datastore,"Car Cube")

In [15]:
session.url

'http://localhost:39759'

# Creating measures

In [19]:
n = cube.measures
lvl = cube.levels